<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>loginapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>IRANSans(FaNum)_Bold.ttf</string>
		<string>IRANSans(FaNum)_Light.ttf</string>
		<string>IRANSans(FaNum)_Medium.ttf</string>
		<string>IRANSans(FaNum)_UltraLight.ttf</string>
		<string>IRANSans(FaNum).ttf</string>
		<string>IRANSansMobile(FaNum)_Bold.ttf</string>
		<string>IRANSansMobile(FaNum)_Light.ttf</string>
		<string>IRANSansMobile(FaNum)_Medium.ttf</string>
		<string>IRANSansMobile(FaNum)_UltraLight.ttf</string>
		<string>IRANSansMobile(FaNum).ttf</string>
		<string>IRANSansWeb(FaNum)_Bold.ttf</string>
		<string>IRANSansWeb(FaNum)_Light.ttf</string>
		<string>IRANSansWeb(FaNum)_Medium.ttf</string>
		<string>IRANSansWeb(FaNum)_UltraLight.ttf</string>
		<string>IRANSansWeb(FaNum).ttf</string>
		<string>IRANSans_Bold.ttf</string>
		<string>IRANSans_Light.ttf</string>
		<string>IRANSans_Medium.ttf</string>
		<string>IRANSans_UltraLight.ttf</string>
		<string>IRANSans.ttf</string>
		<string>IRANSansMobile_Bold.ttf</string>
		<string>IRANSansMobile_Light.ttf</string>
		<string>IRANSansMobile_Medium.ttf</string>
		<string>IRANSansMobile_UltraLight.ttf</string>
		<string>IRANSansMobile.ttf</string>
		<string>IRAN Sans-Mobile(NoEn).ttf</string>
		<string>IRANSansMobile(NoEn) ultralight.ttf</string>
		<string>IRANSansMobile(NoEn)_Bold.ttf</string>
		<string>IRANSansMobile(NoEn)_Light.ttf</string>
		<string>IRANSansMobile(NoEn)_Medium.ttf</string>
		<string>IRANSansMobile(NoEn)_ultralight.ttf</string>
		<string>IRANSansWeb(NoEn)_Bold.ttf</string>
		<string>IRANSansWeb(NoEn)_Light.ttf</string>
		<string>IRANSansWeb(NoEn)_Medium.ttf</string>
		<string>IRANSansWeb(NoEn)_UltraLight.ttf</string>
		<string>IRANSansWeb(NoEn).ttf</string>
		<string>IRANSans(Small)_Bold.ttf</string>
		<string>IRANSans(Small)_Light.ttf</string>
		<string>IRANSans(Small)_Medium.ttf</string>
		<string>IRANSans(Small)_UltraLight.ttf</string>
		<string>IRANSans(Small).ttf</string>
		<string>IRANSansWeb_Bold.ttf</string>
		<string>IRANSansWeb_Light.ttf</string>
		<string>IRANSansWeb_Medium.ttf</string>
		<string>IRANSansWeb_UltraLight.ttf</string>
		<string>IRANSansWeb.ttf</string>
	</array>
</dict>
</plist>
